* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.site-title {
  font-size: 2rem;
}

/* nav bar */
.nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul {
   padding: 0;
   margin: 0;
   list-style: none;
   display: flex;
   gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;

}

.nav li.active {
  color: #777;
}

.nav li:hover {
  background-color: #777;
}

/* login and signup button to switch tabs*/
.link-button {
  background: none;
  color: black;
  text-decoration: underline dotted 1px;
}

button {
  border: none;
  background-color: black;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  
}

input {
  margin: 0.35rem 0;
  padding: 1rem;
  border-color: black;
  border-radius: 10px;
}




/* sign up  */

/* Apply flex container styles */
.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Adjust styles for the "Already have an account" button */
.link-button {
  background-color: transparent;
  color: #000000;
  border: none;
  cursor: pointer;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.form-container header {
  font-family: Arial, sans-serif;
  font-size: 36px;
  margin-bottom: 20px;
}



/* Log In */

 
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Adjust styles for the "Already have an account" button */
.link-button {
  background-color: transparent;
  color: #000000;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
} 

.form-container-login {
  display: flex;
  flex-direction: column;
  border: 1px solid #000000; /* Add a border around the container */
  border-radius: 5px; /* Add rounded corners for a more appealing look */
  padding: 10px; /* Add some padding inside the container */
  background-color: #ffffff;
  max-width: 400px; /* Add this line to set a fixed width for the container */
  margin: 150px auto; /* Add margin to create space between the top of the page and the box */
}

.form-container-login h1 {
  text-align: center; /* Center the header text */
  margin-bottom: 20px;
}

.form-container-login label,
.form-container-login input,
.form-container-login button {
  display: block; /* Display form elements as block elements to stack them vertically */
  margin-bottom: 10px;
}

.form-container-login input,
.form-container-login button {
  width: 50%; /* Make the input and button elements occupy the full container width */
}

